{% load static %}
{% include './htmx_generic.html' %}

<style>
    .scar_logo {
        background-position: center;
        background-image: url({% static 'fights/images/scar_transparent.png' %});
        background-size: contain;
        background-repeat: no-repeat;
    }

    .text_style {
        /*text-transform: uppercase;*/
        font-weight: 400;
    }

    .glyphicon-move {
        cursor: move;
        cursor: -webkit-grabbing;
    }
</style>

<body style="background-color: {{ bgcolor }}"">
    <div class="container-fluid text-white scar_logo text_style" style="user-select: none">
        <div class="float-start text-white fs-2 pe-2">
            <a href="/fights" class="link-light">Home</a> |
            <a href="/fights/time_remaining" class="link-light">Time Remaining</a>
        </div>
        <div class="float-end text-white fs-2 pe-2">
            {% if user.is_authenticated %}
                <a href="/fights/user/{{ user.id }}" class="link-light">{{ user.profile.display_name }}</a> {% if perms.fights.change_match %}|
                Staff {% endif %}| <a href="/accounts/logout" class="link-light">Logout </a>
            {% else %}
                <a href="/accounts/login" class="link-light">Login</a>
            {% endif %}
        </div>
        <br><br>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>