{% load static %}
{% include './htmx_generic.html' %}

<style>
    .text_style {
        /*text-transform: uppercase;*/
        font-weight: 400;
    }
</style>

<body class="bg-transparent">
    <div class="container-fluid text-white text_style py-4 ">
        <div class="row text-center justify-content-center py-4">
            <div class="col-md-3 bg-warning rounded-3 text-black">
                <div class="display-5"><strong>Bot Detail</strong></div>
            </div>
        </div>
    </div>
    <p>Name - {{bot.participant_name}}</p>
    <div> <button hx-get="/fights/associate_user/{{bot.participant_name}}" hx-target="#User"
            hx-swap="innerHTML">Associate</button>
    </div>
    <div> <button hx-get="/fights/un_associate_user/{{bot.participant_name}}" hx-target="#User"
            hx-swap="innerHTML">Un-Associate</button>
    </div>
    <div id="User">
        <p>User - {{bot.user}}</p>
    </div>
    <p>Bot ID - {{bot.participant_id}}</p>
    <p>Last Timeout {{bot.time_out}}</p>
    <p>Tournament ID - {{bot.tournament_id}}</p>
    <p>Last updated - {{bot.last_updated}}</p>
    <p>Time remaining - {{bot.time_remaining}}</p>
    <p>Upcoming macthes</p>
    {% for match in bot.upcoming_matches %}
    <p>{{match.tournament_id}} - {{match.player1_id}} vs {{match.player2_id}}</p>
    {%endfor%}
</body>

</html>