{% extends "fights/base_template.html" %}
{% block content %}
<div class="row text-center justify-content-center py-4">
    <div class="col-md-10 bg-warning rounded-3 text-black">
        <div class="display-5"><strong>{{bot.bot_name}} - {{bot.tournament_id}}</strong></div>
    </div>
    <div>
        {% include './claim_bot.html' %}
        <br>
        {% include './time_remaining_bot.html' %}
        <br>
        <div>
            <div class="fs-2">Next Match</div>
            <div class="fs-1">
                {% if bot.upcoming_matches.0.player1_id.bot_name != 'Not assigned' %}
                <a class="text-reset text-decoration-none"
                    href="/fights/bot/{{bot.upcoming_matches.0.player1_id}}">{{bot.upcoming_matches.0.player1_id}}</a>
                {% endif %}
                {% if bot.upcoming_matches.0.player1_id.bot_name == 'Not assigned' %}
                <div class="fs-4">Winner of</div>
                <a class="text-reset text-decoration-none"
                    href="/fights/bot/{{bot.upcoming_matches.0.unassigned_matches.0.0}}">{{
                    bot.upcoming_matches.0.unassigned_matches.1.0 }}</a>
                vs
                <a class="text-reset text-decoration-none"
                    href="/fights/bot/{{bot.upcoming_matches.0.unassigned_matches.0.1}}">{{
                    bot.upcoming_matches.0.unassigned_matches.0.1 }}</a>
                {% endif %}

                vs
                {% if bot.upcoming_matches.0.player2_id.bot_name != 'Not assigned' %}
                <a class="text-reset text-decoration-none"
                    href="/fights/bot/{{bot.upcoming_matches.0.player2_id}}">{{bot.upcoming_matches.0.player2_id}}</a>
                {% endif %}
                <br>
                {% if bot.upcoming_matches.0.player2_id.bot_name == 'Not assigned' %}
                <div class="fs-4">Winner of</div>
                <a class="text-reset text-decoration-none"
                    href="/fights/bot/{{bot.upcoming_matches.0.unassigned_matches.1.0}}">{{
                    bot.upcoming_matches.0.unassigned_matches.1.0 }}</a>
                vs
                <a class="text-reset text-decoration-none"
                    href="/fights/bot/{{bot.upcoming_matches.0.unassigned_matches.1.1}}">{{
                    bot.upcoming_matches.0.unassigned_matches.1.1 }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}