{% load static %}
{% include './htmx_generic.html' %}

<style>
    .scar_logo {
        background-position: center;
        background-image: url({% static 'fights/images/scar_transparent.png' %});
        background-size: contain;
        background-repeat: no-repeat;
    }

    .text_style {
        /* text-shadow: 3px 3px 0px black; */
        text-transform: uppercase;
        font-weight: 400;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="container-fluid bg-danger text-white scar_logo text_style py-4">
            <div class="row text-center py-4">
                <div class="col-md-6 offset-md-3">
                    <div class="display-5 bg-primary"><strong>Upcoming Matches</strong></div>
                    <div class="display-6 bg-primary">(All times approx.)</div>
                </div>
            </div>
            {% include './matches.html' %}
        </div>
    </div>
</body>

</html>