{% extends "fights/base_template.html" %}
{% block content %}
<style="background-color:{{ bgcolor }}">
<div class="row text-center justify-content-center py-4 pe-0">
    <div class="col-md-3 bg-primary rounded-3" style="text-shadow: 3px 3px 0px black;">
        <div class="display-5"><strong>Upcoming Matches</strong></div>
    </div>
</div>
<div hx-get="display_matches" hx-trigger="every 10s [document.currentlyDragging != true]" hx-swap="innerHTML" hx-on::after-request="initSortable()">
    {% include './matches.html' %}
</div>
</style>
{% endblock %}