{% load static %}
{% load socialaccount %}
{% if user.is_authenticated %}
    {% get_social_accounts user as accounts %}
{% endif %}
{% include './htmx_generic.html' %}

<style>
    .scar_logo {
        background-position: center;
        background-image: url({% static 'fights/images/scar_transparent.png' %});
        background-size: contain;
        background-repeat: no-repeat;
    }

    .text_style {
        /*text-transform: uppercase;*/
        font-weight: 400;
    }

    .glyphicon-move {
        cursor: move;
        cursor: -webkit-grabbing;
    }
</style>

<body>
    <div class="container-fluid bg-danger text-white scar_logo text_style" style="user-select: none;">
        <div class="float-end text-white fs-2 pe-2">
            {% if user.is_authenticated %}
                {% if accounts.discord.0 %} {{ accounts.discord.0.extra_data.global_name }} {% else %} {{ user }} {% endif %} {% if perms.fights.change_match %}| Staff {% endif %}| <a href="/accounts/logout" class="link-light">Logout </a>
            {% else %}
                <a href="/accounts/login" class="link-light">Login</a>
            {% endif %}
        </div>
        <br><br>
        <div class="row text-center justify-content-center py-4 pe-0">
            <div class="col-md-3 bg-primary rounded-3" style="text-shadow: 3px 3px 0px black;">
                <div class="display-5"><strong>Upcoming Matches</strong></div>
            </div>
        </div>
        <div hx-get="display_matches" hx-trigger="every 10s [document.currentlyDragging != true]" hx-swap="innerHTML" hx-on::after-request="initSortable()">
            {% include './matches.html' %}
        </div>
    </div>
</body>
</html>