<div class="justify-content-center align-items-center h-50 display-3 lh-sm px-8">
    <div hx-get="/display_matches" hx-trigger="every 30s" hx-swap="innerHTML">
        {% if output_matches %}
        <div class="text-center">
            {% for match in output_matches %}
            <div class="pt-5 pb-5">
                <div class="row justify-content-md-center text-dark text_style">
                    <div class="col-md-4 bg-warning rounded-start">
                        {{match.player1_name}}
                    </div>
                    <div class="col-md-auto bg-secondary text-white">
                        VS
                    </div>
                    <div class="col-md-4 bg-warning rounded-end">
                        {{match.player2_name}}
                    </div>
                </div>
                <div class="row display-5">
                    <div class="col" style="text-shadow: 3px 3px 0px black;">
                        {{match.match_start}} ({{match.tournament_name}})
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <strong>No active tournaments available</strong>
        {% endif %}
    </div>
</div>