{% load static %}
{% include './htmx_generic.html' %}

<style>
    .text_style {
        /*text-transform: uppercase;*/
        font-weight: 400;
    }
</style>

<body class="bg-transparent">
        <div class="container-fluid text-white text_style py-4 ">
            <div class="row text-center justify-content-center py-4">
                <div class="col-md-3 bg-warning rounded-3 text-black">
                    <div class="display-5"><strong>Upcoming Matches</strong></div>
                    <div class="display-6">(All times approx.)</div>
                </div>
            </div>
            <div hx-get="display_matches" hx-trigger="every 10s [document.currentlyDragging != true]" hx-swap="innerHTML" hx-on::after-request="initSortable()">
                {% include './matches.html' %}
            </div>
        </div>
</body>

</html>
