{% extends "fights/base_template.html" %}
{% block content %}
        <div class="row text-center justify-content-center py-4">
            <div class="col-md-3 bg-primary rounded-3" style="text-shadow: 3px 3px 0px black;">
                <div class="display-5"><strong>Time Remaining</strong></div>
            </div>
        </div>
        <div class="justify-content-center align-items-center h-50 display-3 lh-sm px-8">
            {% if tournament_filter %}
            <div hx-get="time_remaining_inner?tournaments={{ tournament_filter|join:"&tournaments=" }}" hx-trigger="every 10s" hx-swap="innerHTML">
            {% else %}
            <div hx-get="time_remaining_inner" hx-trigger="every 10s" hx-swap="innerHTML">
            {% endif %}
                {% include './time_remaining_inner.html' %}
            </div>
        </div>
{% endblock %}